body {
    background: url(https://wallpaperaccess.com/full/5088948.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

h1 {
    color: aliceblue;
}

p {
    color: white;
}